header {
  text-align: center;
}

.button-flex {
  text-align: center;
}

.add-btn {
  padding: 0.75rem 4rem;
  filter: drop-shadow(2.5px 2.5px 1px rgb(0, 0, 0));
}

.add-btn:hover {
  background-color: aqua;
}

.weekdays {
  display: flex;
  justify-content: center;
}

.day-entry {
  background-color: white;
  border: 2px solid black;
  margin: 50px;
  width: 101px;
  height: 95px;
}

.day-entry:hover {
  background-color: #ccc;
}

.submit-button {

}
