header {
  text-align: center;
}

h1 {
  font-family: sans-serif;
}

.button-flex {
  text-align: center;
}

.add-btn {
  padding: 0.75rem 4rem;
  filter: drop-shadow(2.5px 2.5px 1px rgb(0, 0, 0));
}

.add-btn:hover {
  background-color: aqua;
}

.weekdays {
  display: flex;
  justify-content: center;
}

.day-entry {
  background-color: white;
  border: 2px solid black;
  margin: 50px;
  width: 101px;
  height: 95px;
}

.day-entry:hover {
  background-color: #ccc;
}

.submit-container {
  display: flex;
  justify-content: flex-end;
}

.entry-container {
  width: 650px;
  background-color: white;
  padding: 0 50px 30px;
}

.add-entry {
  /* display: flex; */

  height: 100%;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0 0 0 / 80%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-container {
  display: flex;
  justify-content: flex-start;
}

.modal-h1 {
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
}

select {
  margin-right: 1rem;
  margin-bottom: 2rem;
  padding: 5px 20px 5px 0;
  border: 3px solid black;
}

textarea {
  border: 3px solid black;
  font-family: sans-serif;
}

::placeholder {
  color: black;
}

.submit-btn {
  margin-top: 20px;
  filter: drop-shadow(2.5px 2.5px 1px rgb(0, 0, 0));
  border: 3px solid black;
}

.schedule-h2 {
  text-align: center;
  font-family: sans-serif;
}

.schedule-table {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: left;
}

th {
  background-color: #ccc;
}

tr:nth-child(odd) {
  background-color: rgb(235, 234, 234);
}

table {
  border: 3px solid black;
}

td {
  height: 20px;
}

th:first-child {
  border-right: 3px solid black;
}

td:first-child {
  border-right: 3px solid black;
  width: 250px;
}

td:nth-child(2) {
  width: 800px;
}
